In [1]:
import pandas as pd
import geopandas as gpd
import pyogrio

# ID Mapping

In [2]:
df_stream_order = pd.read_parquet("workspaces/app_workspace/v2-master-table.parquet")
df_stream_order

,LINKNO,DSLINKNO,strmOrder,USContArea,DSContArea,TDXHydroRegion,VPUCode,TopologicalOrder,LengthGeodesicMeters,TerminalLink,musk_k,musk_x
0,110007873,110009186,2,1.083060e+07,4.209271e+07,1020000010,102,177181,13384.058990,110013122,53536,0.25
1,110010498,110011810,2,1.096513e+07,2.296918e+07,1020000010,102,177182,2201.649965,110013122,8807,0.25
2,110005251,110019682,2,1.111977e+07,1.703163e+07,1020000010,102,177183,1972.054239,110030180,7888,0.25
3,110018371,110014434,2,1.076590e+07,3.751075e+07,1020000010,102,177184,5305.002476,110030180,21220,0.25
4,110009187,110011811,2,1.321197e+07,2.302526e+07,1020000010,102,177185,3587.784457,110030180,14351,0.25
...,...,...,...,...,...,...,...,...,...,...,...,...
6838895,420783553,420750784,9,8.182978e+11,8.183078e+11,4020006940,404,550688,12581.201310,420711866,13356,0.25
6838896,420750784,420790716,9,8.183141e+11,8.183305e+11,4020006940,404,550689,16356.933960,420711866,17364,0.25
6838897,420790716,420774331,9,8.183527e+11,8.183661e+11,4020006940,404,550690,10981.256921,420711866,11657,0.25
6838898,420774331,420711866,9,8.183722e+11,8.183836e+11,4020006940,404,550691,13729.151664,420711866,14574,0.25
6838899,420711866,-1,9,8.183883e+11,8.184200e+11,4020006940,404,550692,39158.292152,420711866,41569,0.25

In [3]:
df_river_id = gpd.read_file("public/data/geojson/hydrosos_streamflow_output.geojson")
df_river_id

           rivid classification                    geometry
0      110229254   normal range   POINT (-5.51489 34.69922)
1      110230566   normal range   POINT (-5.50333 34.71844)
2      110067878   normal range   POINT (-5.52200 34.74078)
3      110050823   normal range   POINT (-5.53811 34.56022)
4      110054759   normal range   POINT (-5.53811 34.56022)
...          ...            ...                         ...
38898  110308113   normal range  POINT (-10.58500 40.27756)
38899  110292368   normal range  POINT (-10.58411 40.28889)
38900  110293680   normal range  POINT (-10.57722 40.35178)
38901  110294992   normal range  POINT (-10.57000 40.36056)
38902  110296304   normal range  POINT (-10.47156 40.43278)

[38903 rows x 3 columns]

In [4]:
df_geometry = pyogrio.read_dataframe("workspaces/app_workspace/global_streams_simplified.gpkg")
df_geometry

            LINKNO                                           geometry
0        110007873  MULTILINESTRING ((32.26067 30.14578, 32.25767 ...
1        110010498  MULTILINESTRING ((32.36844 30.11122, 32.36467 ...
2        110005251  MULTILINESTRING ((32.27222 30.08189, 32.26878 ...
3        110018371  MULTILINESTRING ((32.18689 30.06989, 32.17778 ...
4        110009187  MULTILINESTRING ((32.35711 30.06133, 32.34589 ...
...            ...                                                ...
6838895  820279661  MULTILINESTRING ((-134.26121 69.17145, -134.27...
6838896  820281005  LINESTRING (-134.24764 69.20134, -134.25483 69...
6838897  820247403  MULTILINESTRING ((-134.24558 69.20789, -134.24...
6838898  820224554  LINESTRING (-134.20610 69.23645, -134.22707 69...
6838899  820211113  LINESTRING (-134.19705 69.25189, -134.20137 69...

[6838900 rows x 2 columns]

In [5]:
df = df_river_id[["rivid"]].merge(df_stream_order[["LINKNO", "strmOrder"]], how="left", left_on="rivid", right_on="LINKNO").drop("LINKNO", axis=1)
df = df.merge(df_geometry, how="left", left_on="rivid", right_on="LINKNO").drop("LINKNO", axis=1)
df

           rivid  strmOrder                                           geometry
0      110229254        2.0  MULTILINESTRING ((34.69456 -5.50422, 34.70489 ...
1      110230566        2.0  MULTILINESTRING ((34.74178 -5.49356, 34.74333 ...
2      110067878        2.0  MULTILINESTRING ((34.76122 -5.49078, 34.76656 ...
3      110050823        2.0  MULTILINESTRING ((34.55044 -5.53056, 34.53778 ...
4      110054759        2.0  MULTILINESTRING ((34.56978 -5.52622, 34.56978 ...
...          ...        ...                                                ...
38898  110308113        7.0  LINESTRING (40.27756 -10.58500, 40.27167 -10.5...
38899  110292368        7.0  LINESTRING (40.28889 -10.58411, 40.27756 -10.5...
38900  110293680        7.0  LINESTRING (40.35178 -10.57722, 40.34944 -10.5...
38901  110294992        7.0  LINESTRING (40.36056 -10.57000, 40.35178 -10.5...
38902  110296304        7.0  LINESTRING (40.43278 -10.47156, 40.42978 -10.4...

[38903 rows x 3 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38903 entries, 0 to 38902
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   rivid      38903 non-null  int64
 1   strmOrder  38169 non-null  float64
 2   geometry   38169 non-null  geometry
dtypes: float64(1), geometry(1), int64(1)
memory usage: 911.9 KB

In [7]:
df = df.dropna()
df["strmOrder"] = df["strmOrder"].astype("int")
df

/tmp/ipykernel_10447/54903258.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["strmOrder"] = df["strmOrder"].astype("int")

           rivid  strmOrder                                           geometry
0      110229254          2  MULTILINESTRING ((34.69456 -5.50422, 34.70489 ...
1      110230566          2  MULTILINESTRING ((34.74178 -5.49356, 34.74333 ...
2      110067878          2  MULTILINESTRING ((34.76122 -5.49078, 34.76656 ...
3      110050823          2  MULTILINESTRING ((34.55044 -5.53056, 34.53778 ...
4      110054759          2  MULTILINESTRING ((34.56978 -5.52622, 34.56978 ...
...          ...        ...                                                ...
38898  110308113          7  LINESTRING (40.27756 -10.58500, 40.27167 -10.5...
38899  110292368          7  LINESTRING (40.28889 -10.58411, 40.27756 -10.5...
38900  110293680          7  LINESTRING (40.35178 -10.57722, 40.34944 -10.5...
38901  110294992          7  LINESTRING (40.36056 -10.57000, 40.35178 -10.5...
38902  110296304          7  LINESTRING (40.43278 -10.47156, 40.42978 -10.4...

[38169 rows x 3 columns]

In [8]:
gdf = gpd.GeoDataFrame(df, geometry=df["geometry"])
gdf

           rivid  strmOrder                                           geometry
0      110229254          2  MULTILINESTRING ((34.69456 -5.50422, 34.70489 ...
1      110230566          2  MULTILINESTRING ((34.74178 -5.49356, 34.74333 ...
2      110067878          2  MULTILINESTRING ((34.76122 -5.49078, 34.76656 ...
3      110050823          2  MULTILINESTRING ((34.55044 -5.53056, 34.53778 ...
4      110054759          2  MULTILINESTRING ((34.56978 -5.52622, 34.56978 ...
...          ...        ...                                                ...
38898  110308113          7  LINESTRING (40.27756 -10.58500, 40.27167 -10.5...
38899  110292368          7  LINESTRING (40.28889 -10.58411, 40.27756 -10.5...
38900  110293680          7  LINESTRING (40.35178 -10.57722, 40.34944 -10.5...
38901  110294992          7  LINESTRING (40.36056 -10.57000, 40.35178 -10.5...
38902  110296304          7  LINESTRING (40.43278 -10.47156, 40.42978 -10.4...

[38169 rows x 3 columns]

In [9]:
gdf.to_file("public/data/geojson/hydrosos_streamflow_geometry.geojson", driver="GeoJSON")

In [10]:
gdf.sort_values(by="strmOrder")

           rivid  strmOrder                                           geometry
0      110229254          2  MULTILINESTRING ((34.69456 -5.50422, 34.70489 ...
12516  110247879          2  LINESTRING (36.46389 -14.96889, 36.45911 -14.9...
12517  110209833          2  LINESTRING (36.55767 -15.03778, 36.55789 -15.0...
12518  110212457          2  LINESTRING (36.74356 -15.04778, 36.75122 -15.0...
12519  110249193          2  LINESTRING (36.90133 -15.01789, 36.89989 -15.0...
...          ...        ...                                                ...
38783  110529763          8  MULTILINESTRING ((38.18244 -7.73733, 38.18200 ...
38405  110514026          8  LINESTRING (37.78411 -7.99378, 37.77400 -8.00011)
38785  110531075          8  LINESTRING (38.20556 -7.75556, 38.19611 -7.74967)
38759  110504836          8  LINESTRING (37.91056 -7.81400, 37.90067 -7.812...
38795  110500901          8  LINESTRING (38.36189 -7.84422, 38.33744 -7.844...

[38169 rows x 3 columns]

In [4]:
gdf = gpd.read_file("public/data/geojson/hydrosos_streamflow_data.geojson")
gdf.to_file("workspaces/app_workspace/hydrosos_streamflow_layer.shp")

/tmp/ipykernel_2029965/1081052983.py:2: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  gdf.to_file("workspaces/app_workspace/hydrosos_streamflow_layer.shp")